input {
    position: fixed;
    left: -999999999;
  }

  input ~ div {
    width: 30px;
    height: 15px;
    background: #eee;
    border-radius: 8px;
    positon: relative;
  }
  svg {
    height: 14px;
    color: white;
    background-color: #ccc;
    border-radius: 7px;
    positon: absolute;
    top: 1px;
    left: 1px;
    transition: all .4s ease;
  }

  input:checked ~ div {
    background: #668;
    svg{
        background-color: #224;
        left: 15px;
    }
  }